# Python
__pycache__/
*.pyc
*.pyo
*.csv

# Trained models
best_model/
models_direct/
models_label/
models_predict_item/

# configs
config_*

# test
test/

# Data processing
process_data/
data/

# Logs & caches
logs/
*.log
